
#mask{
	display: none;
	background: rgba(0,0,0,0.8);
	position: absolute;
	z-index: 1000;
	top: 0;
}

.window{
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	position: fixed;
	width: 100%;
}

#wapp, #form, #data1, #data2, #data3, #data4{
	display: none;
	min-height: 100vh;
	max-width: 100vw;
}

.modal{
	align-items: center;
	display: flex;
	background: #f2f2f2;
	border-radius: 1em;
	flex-direction: column;
	height: auto;
	padding-bottom: 2em;
	width: auto;
}

.modal-cont{
	height: auto;
	justify-content: center;
	display: flex;
	width: 100%;
}

.modal-cont h1, .modal-cont h2, .modal-cont h3, .modal-cont h4{
	color: #333;
}

.modal-left, .modal-right{
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 500px;
}

.modal-left{
	width: 450px;
}


.modal-left h3, .modal-right h3{
	font-size: 150%;
	font-weight: 500;
	margin-bottom: 1em;
	width: 100%;
}

.modal-left h3{
	width: 80%;
}

.modal-left p, .modal-right p{
	height: auto;
	font-size: 100%;
	font-weight: 300;
	text-align: justify;
	width: 90%;
}

.modal-avatar{
	display: flex;
	justify-content: left;
	margin-bottom: 1.5em;
	width: 90%;
}

.modal-avatar h4{
	width: 72%;
}

.avatar{
	background-size: cover;
	background-position: center;
	border-radius: 0.5em;
	height: 6em;
	width: 6em;
}

#modal_title{
	text-align: center;
	font-size: 1.5em;
	width: 100%;
}

.muestra{
	width: 90%;
	height: auto;
}

.muestra img{
	width: 100%;
	height: auto;
}

.close{
	width: 1000px;
	text-align: right;
	padding: 0.5em;
}

.close a{
	background: #aa2323;
	border-radius: 1em;
	box-shadow: 1px 1px 3px -1px #000;
	color: white;
	padding-bottom: 0.1em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 0.1em;
}

#mdn{
	width: 700px;
}

.datasheet{
	text-align: left;
	width: 100%;
}

.par, .par2, .par3{
	background: #333;
	width: 100%
	height: 0.3%;
	margin-top: 3%;
	margin-bottom: 3%;
}

.par2, .par3{
	height: 1vh;
}

.par3{
	width: 70%;
}

h0{
	color: #333;
	font-size: 300%;
}

@media screen and (min-height: 1200px)
{
	.close{
		width: 1400px;
	}

	.modal-left, .modal-right{
		width: 700px;
	}

	.modal-left h3, .modal-right h3{
		font-size: 2em;
	}

	.modal-left p, .modal-right p{
		font-size: 1.3em;
	}

	.close{
		font-size: 1.2em;
	}
}